AUTH_USER=op
AUTH_PASS=velo
PORT=3000
MAX_SOCKETS=50
# Point it to the deployed API host URI you want to use
# API_URL=
# TESTNET=1
# PROVIDER=optimism-kovan
# Use `|` to separate URIs
TOKENLISTS=https://raw.githubusercontent.com/ethereum-optimism/ethereum-optimism.github.io/master/optimism.tokenlist.json
