PORT=3000
WEB3_PROVIDER_URI=https://kovan.optimism.io
FACTORY_ADDRESS=0xF05e27220a6682aE709b45cBF5a7C585B9b4dd64
VOTER_ADDRESS=0x446C3F12179944D1815FF8b9dEbeDc8A5bE47a9E
# Valid tokenlists.org lists. Use `|` to separate URIs.
TOKENLISTS=https://static.optimism.io/optimism.tokenlist.json
# These two will be fetched from the tokenlist
DEFAULT_TOKEN_ADDRESS=0xC59Cf0bEC9F0D17E1886D0307b1e678D572a7b7b
# USDC/USDT or equivalent...
STABLE_TOKEN_ADDRESS=0x4e62882864fB8CE54AFfcAf8D899A286762B011B
# Seconds between on-chain syncups
SYNC_WAIT_SECONDS=20
